@import '../../../styles/utils/index.scss';

.requiredNote {
  @include regular18Inter;
  font-style: italic;
  color: $orange;
  margin-bottom: 40px;
  width: 100%;
  text-align: right;
}

.btn {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form {
  @include flexColumn;
  row-gap: 48px;

  div {
    margin: 0 !important;
  }
}

@media (max-width: $tablet) {
  .requiredNote {
      @include regular16Inter;
      margin-bottom: 32px;
    }
  
    .btn {
      margin-top: 40px;
    }
  
    .form {
      row-gap: 36px;
    }
}

@media (max-width: $mob) {
  .requiredNote {
    @include regular14Inter;
    margin-bottom: 24px;
  }

  .btn {
    margin-top: 32px;
  }

  .form {
    row-gap: 32px;
  }
}