@import '../../../styles/utils/index.scss';

.text {
  @include bold30Playfair;
  font-style: italic;
  padding: 40px;
  color: $red;
}

@media (max-width: $tablet) {
  .text {
    @include bold24Playfair;
    padding: 32px;
  }
}

@media (max-width: $mob) {
  .text {
    @include bold18Playfair;
    padding: 20px;
  }
}
