.cards {
  @include grid(4);
  column-gap: 30px;
  row-gap: 48px;
  margin-bottom: 60px;
}

.btnBlock {
  @include flexCenter;
  width: fit-content;
  margin: 0 auto;
}

.btn {
  margin: 0 auto;
}

@media (max-width: $tablet) {
  .cards {
    @include grid(3);
  }
}

@media (max-width: $mob) {
  .cards {
    @include grid(2);
    grid-gap: 24px;
    margin-bottom: 40px;
  }
}
