.card {
  @include flexColumn;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
  width: 100%;

  @include hover {
    .name {
      color: $grey;
    }

    .img {
      transform: scale(1.05);
    }
  }
}

.img {
  @include transition(transform);
  border-radius: 50%;
}

.name {
  @include semibold20Inter;
  @include transition(color);
  @include croppingText(2);
  color: $black;
  text-align: center;
}

@media (max-width: $mob) {
  .card {
    row-gap: 8px;
  }

  .name {
    @include semibold14Inter;
  }
}
