.container {
  @include flexColumn;
}

.top {
  background-color: $whiteDark;
  padding: 12px 0;
}

.topContainer {
  @include flexCenterBetween;
}

.topRight {
  @include flexCenter;
  column-gap: 40px;
}

.searchBtn {
  @include sizes(28px, 28px);
  @include transition(transform);

  svg {
    @include fullSize;
  }

  @include hover {
    transform: scale(1.1);
  }
}

.bottomContainer {
  @include flexColumn;
  justify-content: center;
  align-items: center;
  row-gap: 56px;
  padding: 64px;
  background-color: $white;
}

.burger,
.topLogo {
  display: none;
}

@media (max-width: $tablet) {
  .bottomContainer {
    row-gap: 40px;
    padding: 32px;
  }

  .manu {
    column-gap: 40px;
  }
}

@media (max-width: $mob) {
  .bottom {
    display: none;
  }

  .top {
    padding: 16px 0;
  }

  .socials {
    display: none;
  }

  .topLogo {
    display: block;

    svg {
      @include sizes(90px, 30px);
    }
  }

  .searchBtn {
    @include sizes(20px, 20px);
  }

  .topRight {
    column-gap: 24px;
  }

  .burger {
    @include sizes(20px, 20px);
    display: block;
  }
}
