.container {
  @include flexColumn;
}

.top {
  background-color: $whiteDark;
  padding: 12px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.topContainer {
  @include flexCenterBetween;
}

.topRight {
  @include flexCenter;
  column-gap: 40px;
}

.searchBtn {
  @include sizes(28px, 28px);
  @include transition(transform);

  svg {
    @include fullSize;
  }

  @include hover {
    transform: scale(1.1);
  }
}

.bottom {
  margin-top: 56px;
}

.bottomContainer {
  @include flexColumn;
  justify-content: center;
  align-items: center;
  row-gap: 56px;
  padding: 64px;
  background-color: $white;
}

.burger,
.topLogo,
.bottomSocials {
  display: none;
}

@media (max-width: $tablet) {
  .bottomContainer {
    row-gap: 40px;
    padding: 32px;
  }

  .manu {
    column-gap: 40px;
  }
}

@media (max-width: $mob) {
  .bottom {
    @include transition(transform);
    @include sizes(100%, auto);
    position: fixed;
    left: 0;
    top: 0;
    transform: translateY(-200%);
    z-index: 98;
    overflow: scroll;
    height: calc(100% - 55px);

    &.open {
      transform: translateY(0);
    }

    .bottomCont {
      padding: 0;
      max-width: 100%;
    }
  }

  .bottomLogo {
    display: none;
  }

  .bottomContainer {
    padding: 24px 16px;
    row-gap: 0;
    background-color: $whiteDark;
  }

  .top {
    padding: 16px 0;
  }

  .socials {
    display: none;
  }

  .topLogo {
    @include sizes(90px, 30px);
    display: block;

    svg {
      display: block;
    }
  }

  .searchBtn {
    @include sizes(20px, 20px);
  }

  .topRight {
    column-gap: 24px;
  }

  .burger {
    @include flexColumn;
    @include sizes(24px, 24px);
    @include transition(transform);
    justify-content: space-around;

    .line {
      @include sizes(100%, 2px);
      display: block;
      background-color: $black;
      transition: all 0.3s ease;
    }

    &.open {
      .line:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }

  .bottomSocials {
    @include flexEnd;
    width: 100%;
  }
}
