a {
  text-decoration: none;
  @include transition(color);
}

a:hover {
  text-decoration: none;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  -webkit-animation: bugfix infinite 1s;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-gutter: auto;
  scroll-behavior: smooth;
}

body {
  font-family: 'Robot', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  margin: 0;
  padding: 0;
  background: $white;
  overflow-x: hidden;
  @include flexColumn;
  min-height: 100vh;
  position: relative;

  &.hidden {
    overflow: hidden;
  }
}

main {
  flex: 1;
}

.container {
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
}

.container-no-padding {
  max-width: 1472px;
  padding: 0;
  margin: 0 auto;
}

section {
  margin-bottom: 200px;
}

textarea {
  resize: none;
}

svg {
  @include fullSize();
  stroke-linejoin: round;
  stroke-linecap: round;
}

h1,
.title {
  @include medium88;
}

h2,
.subtitle {
  @include medium46;
  margin-bottom: 40px;
}

.subtitle-flex {
  @include flexEndBetween;
  margin-bottom: 40px;

  h2,
  .subtitle {
    margin-bottom: 0;
  }
}

@media (max-width: $laptop) {
  h1,
  .title {
    @include medium64;
  }

  h2,
  .subtitle {
    @include medium40;
    margin-bottom: 32px;
  }

  .subtitle-flex {
    margin-bottom: 32px;
  }

  .container {
    max-width: 1104px;
    padding: 0 40px;
  }

  .container-no-padding {
    max-width: 1104px;
  }

  section {
    margin-bottom: 120px;
  }
}

@media (max-width: $tablet) {
  h1,
  .title {
    @include medium60;
  }

  h2,
  .subtitle {
    @include medium32;
  }
}

@media (max-width: $mob) {
  section {
    margin-bottom: 80px;
  }

  h1,
  .title {
    @include medium32;
  }

  h2,
  .subtitle {
    @include medium28;
    margin-bottom: 24px;
  }

  .subtitle-flex {
    margin-bottom: 24px;
  }

  .container {
    padding: 0 16px;
  }
}
