@mixin bold18Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

@mixin bold24Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@mixin bold30Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}

@mixin bold36Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

@mixin bold40Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

@mixin bold60Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}

@mixin bold76Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 76px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: -1px;
}

@mixin regular10Inter {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

@mixin regular12Inter {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

@mixin regular14Inter {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@mixin regular16Inter {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin regular18Inter {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

@mixin regular24Inter {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

@mixin medium14Inter {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

@mixin medium16Inter {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin medium18Inter {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  letter-spacing: -0.2px;
}

@mixin semibold12Inter {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

@mixin semibold14Inter {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

@mixin semibold18Inter {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}

@mixin semibold20Inter {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}
