@mixin bold60Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}

@mixin bold36Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

@mixin bold40Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

@mixin bold24Playfair {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
}

@mixin semibold20Inter {
  font-family: 'Inter', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}