@import '../../../../styles/utils/index.scss';

.title {
  margin: 0;
  @include flexCenterBetween;
    column-gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid $greyLight;
    margin-bottom: 64px;
}