.footer {
  background-color: $whiteDark;
  padding: 100px 0 40px;
}

.top {
  @include flexStartBetween;
  padding-bottom: 90px;
  border-bottom: 2px solid $greyLight;
}

.bottom {
  @include flexCenterBetween;
  margin-top: 28px;
}

.year {
  @include regular14Inter;
  color: $grey;
}

.topLeft {
  @include flexColumn;
  row-gap: 16px;
  max-width: 350px;
}

.topText {
  @include regular16Inter;
  color: $grey;
}

.logo {
  @include sizes(130px, 40px);
}

.menu {
  @include grid(3);
  column-gap: 80px;
}

.menuBlock,
.menuBlockList {
  @include flexColumn;
  row-gap: 12px;
}

.menuBlockTitle {
  @include medium18Inter;
  color: $black;
}

.menuBlockList li,
.menuBlockList li a {
  @include regular16Inter;
  color: $grey;
  @include transition(color);

  @include hover {
    color: $black;
  }
}

@media (max-width: $tablet) {
  .top {
    @include flexColumn;
    row-gap: 28px;
    padding-bottom: 28px;
  }

  .menu {
    width: 100%;
  }
}

@media (max-width: $mob) {
  .footer {
    padding: 40px 0 60px;
  }

  .logo {
    @include sizes(90px, 30px);
  }

  .top {
    padding: 0;
    margin-bottom: 56px;
    border: none;
  }

  .topLeft {
    @include regular14Inter;
  }

  .bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    row-gap: 24px;
    padding: 0;
  }

  .menu {
    @include flexColumn;
    row-gap: 24px;
  }
}
