.card {
  @include flexColumn;
  row-gap: 8px;

  @include hover {
    .img {
      transform: scale(1.03);
    }
  }
}

.img {
  @include transition(transform);
  border-radius: 6px;

  img {
    border-radius: 6px;
  }
}

.name {
  @include semibold18Inter;
  @include croppingText(2);
  color: $black;
}

@media (max-width: $mob) {
  .name {
    @include semibold12Inter;
  }
}
