@import '../../../styles/utils/index.scss';

.card {
  @include flexColumn;
  row-gap: 8px;
  position: relative;

  &.noPublish {
    img {
      opacity: 0.5;
    }
  }

  @include hover {
    .name {
      color: $grey;
    }

    .img {
      transform: scale(1.03);
    }
  }
}

.img {
  @include transition(transform);
  border-radius: 6px;

  img {
    border-radius: 6px;
  }
}

.name {
  @include semibold18Inter;
  @include transition(color);
  @include croppingText(2);
  text-align: left;
  color: $black;
}

.unpublishButton,
.publishButton {
  @include transition(background-color);
  position: absolute;
  right: 12px;
  top: 12px;
  @include regular18Inter;
  border-radius: 4px;
  padding: 4px 8px;
  color: $white;
  z-index: 2;
}

.unpublishButton {
  background-color: rgb(244, 147, 147);

  @include hover {
    background-color: $red;
  }
}

.publishButton {
  background-color: rgb(167, 247, 167);

  @include hover {
    background-color: green;
  }
}

@media (max-width: $tablet) {
  .unpublishButton,
  .publishButton {
    right: 10px;
    top: 10px;
    @include regular16Inter;
  }
}

@media (max-width: $mob) {
  .name {
    @include semibold14Inter;
  }
}
